
.titulo {
  margin-top: 30px;
  border-bottom: 2px solid #333333;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.paragrafo li{
  margin: 10px;
}

.container .paragrafo p, li {
  text-indent: 15px;
  margin: 15px;
}

.lista li::before {
    content: '\2756 ';
}

figure {
  padding: 10px;
  margin: 5px;
  background-color: #F2EDED;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;

}

p:first-letter {
  font-weight: bold;
}

p:first-line {
  font-variant: small-caps;
}

h1 + p {
  text-indent: 0;
}

/** Imagem - Familia Pelho */
#familia-pelho {
  float: right;
  margin: 10px 0 10px 10px;
}
/** Imagem - Centro de Distribuição */
#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
